@using Dominio.Recursos
@using VendettaNG.Helpers
<script type="text/javascript" src="@Url.Script("~/scripts/menu.js")"></script>
<section class="featured">
    <header>
        <div class="content-wrapper fondorojo">
            <div class="float-right">
                <nav>
                    <ul style="list-style-type: none;">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="btn-group">
                                    <a  type="button" class="btn dropdown-button" ><i class='glyphicon glyphicon-home'></i></a>
                                </li>
                                <li class="btn-group">
                                    <a  type="button" class="btn dropdown-button" ><i class='glyphicon glyphicon-comment'></i></a>
                                </li>
                            }
                            <li class="btn-group">
                                <a  type="button" href="@Url.Action("Index","Home")" class="btn dropdown-button" ><i class='glyphicon glyphicon-globe'></i></a>
                            </li>
                        <li class="dropdown btn-group">
                            <a  type="button" class="btn dropdown-button" ><i class='glyphicon glyphicon-user'></i> @(User.Identity.IsAuthenticated ? User.Identity.Name : "Login")</a>
                            <div type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </div>
                            <ul class="dropdown-menu fondogris">
                                <li>
                                    <div id="logincontainer">
                                        @Html.Partial("~/Views/Account/Login.cshtml")
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</section>
